body{
    background-image: url(imgGit/9452-wall-texture-brick-4k.jpg);
    background-size: cover;
    
}

.container{
    position: absolute;
    
}
.container img{
    position: absolute;
    
}

button{
   margin-top: 630px;
   margin-left: 500px;
   cursor: pointer;
    
}
button img{
    width:100px ;
}


@keyframes aparecerDesaparecer {
    0%, 100% {
        opacity: 0; /* Al principio y al final, la imagen está invisible */
    }
    50% {
        opacity: 1; /* A la mitad de la animación, la imagen está completamente visible */
    }
}

@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg);opacity: 1;
    }
    100% {
      transform: rotate(0deg);
    }
  }